@import '../Config/variables';
@import '../Abstracts/mixins';

.choice-board{
    height: 100%;

    &__container{
        @include flexbox($direction: column);
        row-gap: 1rem;
    }

    &__img{
        width: 6rem;
        transition: .5s all;

        &--cursor{
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__player{
        font-size: $big-font-size;
    }

    &__computer{
        font-size: $big-font-size;
    }

    @media screen and (min-width: $small-screen){
        &__img{
            width: 8rem;
        }
    }
}
